.App {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}
h1 {
  padding-top: 50px;
  font-size: 64px;
}
html  {

  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
  background: linear-gradient(-90deg, #888686, #000000);
  background-size: 400% 400%;
  cursor: url("./assets/cursor.png") , auto;

  animation: gradient 4s ease infinite;}
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;

  overflow-x: hidden; }
  
.right-frame {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;   
  background: url("./assets/right.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-frame {
  min-height: 100vh;
  min-width: 100vw;

  margin: 0px;
  padding: 0px;
  overflow-x: hidden;   
  background: url("./assets/home.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.up-frame {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;   
  background: url("./assets/up.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}


.down-frame {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;   
  background: url("./assets/down.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.left-frame {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;   
  background: url("./assets/left.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.button {
  font-family: 'Press Start 2P', cursive;
  color: rgb(65, 62, 62);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

.button4 {
  background-color: rgb(82, 78, 78);
  color: rgb(255, 255, 255);
  border: 2px solid #292323;
}

.button4:hover {background-color: #080707;
  animation: flash 2s ease infinite;}


@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}